<%= form_with(model: @post) do |form| %>
    <div class="container form">
        <h3>Create Post</h3>
        <div>
            <%= form.label :title %>
            <br>
            <%= form.text_field :title %>
        </div>
        <div>
            <%= form.label :content%>
            <br>
            <%= form.text_area :content%><br>
        </div>
        <div>
        <%= form.submit %>
        </div>
    </div>
<% end %>